<div id="page-cover" class="container-fluid">
	<h1 id="welcome-header">Welcome to Alpha Blog</h1>
</div>

<div class="container">
	<div class="row">
		<div class="col-sm-12 col-md-6 col-lg-6">
			<div class="home-section clearfix">
				<h2 class="home-section-header">About Us</h2>
				<p class="home-section-content">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam et ante nec leo ultrices congue. Etiam interdum dolor bibendum eros viverra, et scelerisque eros laoreet. Nam ac dolor vitae felis tempor luctus. Pellentesque scelerisque eu erat sed accumsan. Duis et felis erat. Ut varius, risus in semper laoreet, ipsum velit semper nunc, vitae imperdiet ligula nisl sit amet turpis. 
				</p>
				<%= link_to "Learn More", about_path, :class => 'btn btn-primary pull-right home-section-button' %>
			</div>
		</div>
		<div class="col-sm-12 col-md-6 col-lg-6">
			<div class="home-section clearfix">
				<h2 class="home-section-header">Articles</h2>
				<p class="home-section-content">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam et ante nec leo ultrices congue. Etiam interdum dolor bibendum eros viverra, et scelerisque eros laoreet. Nam ac dolor vitae felis tempor luctus. Pellentesque scelerisque eu erat sed accumsan. Duis et felis erat. Ut varius, risus in semper laoreet, ipsum velit semper nunc, vitae imperdiet ligula nisl sit amet turpis. 
				</p>
				<%= link_to "View Articles", articles_path, :class => 'btn btn-primary pull-right home-section-button' %>
			</div>
		</div>
	</div>
</div>