<div class="container">
	<footer class="footer">
		<small>
			Copyright &copy; 2018 . <%= link_to "Mark Livingstone Marasigan", "https://github.com/kramlivingstone" %>
		</small>
		<nav>
			<ul>
				<li><%= link_to "About", about_path %></li>
			</ul>
		</nav>
	</footer>
</div>